/* .sidebar-nav ul ul ul{
    display: none;
} */

.app-name .title{
    display: inline-flex;
    align-items: center;
}
.app-name .title>span{
    font-weight: normal;
    color: rgb(34, 137, 226);
}